//Variaveis de backgrounds
$primaryBackgroundColor: #2F6B4F;
$secondaryBackgroundColor: #FFF;
$tertiaryBackgroundColor: #F9F9F9;

//Variaveis de texto
$defaultTextColor: #FFF;
$highlightTextColor: #2A2C3D;
